{{define "giphy"}}
<!DOCTYPE html>
<html lang="en">
    <body>
        <p style="text-align: center"> Hello Guys! Did I pass ?</p>
        <br>
        <div style="text-align: center">
            <img src="{{.}}">
        </div>
    </body>
</html>
{{end}}